<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#333" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <link rel="stylesheet" href="stylesheets/styles.css" />
    <link rel="stylesheet" href="/stylesheets/progressBar.css" />
    <link rel="manifest" href="/javascript/manifest.json" />
    <link rel="icon" href="/images/icons/favicon.png" />
    <title>Pokedex-App</title>
  </head>
  <body>
    <div class="columns">
      <div class="column">
        <section class="search-section">
          <form autocomplete="on" class="box">
            <div class="field">
              <h3 class="title">
                <a href=""
                  ><img
                    src="https://fontmeme.com/permalink/210624/a35cd3b1104b5396e6f9c39941f3e49d.png"
                    alt="pokemon-font"
                    border="0"
                /></a>
              </h3>
              <div class="control">
                <input
                  class="input is-medium is-rounded is-info"
                  id="searchInput"
                  required
                  type="text"
                  placeholder="enter name"
                />
                <button
                  class="button is-info is-rounded is-medium"
                  id="search-button"
                >
                  Search Pokedex
                </button>
              </div>
            </div>
          </form>
        </section>
      </div>

      <div class="column">
        <section class="search-output">
          <div class="spinner">
            <img src="./img/spinner.gif" alt="spinner-gif" />
          </div>

          <div class="pokemon-placeholder"></div>
          <div class="invalid-placeholder"></div>
        </section>
      </div>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.6.0.js"
      integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
      crossorigin="anonymous"
    ></script>
    <script src="./js/main.js"></script>
  </body>
</html>
